<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>331083714543-3lkd17242tmme6q6pgo19c1cstfpbcom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331083714543-3lkd17242tmme6q6pgo19c1cstfpbcom</string>
	<key>API_KEY</key>
	<string>AIzaSyACRrR6KEwgfRf4AID6RSodOhxIASVBjAE</string>
	<key>GCM_SENDER_ID</key>
	<string>331083714543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agreenb.runmapr</string>
	<key>PROJECT_ID</key>
	<string>runmapr</string>
	<key>STORAGE_BUCKET</key>
	<string>runmapr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331083714543:ios:e5e3505652b2c592</string>
	<key>DATABASE_URL</key>
	<string>https://runmapr.firebaseio.com</string>
</dict>
</plist>